:root {
  /* Brand Colors */
  --color-primary: #090909;
  --color-secondary: #3444ff;

  /* Background Colors */
  --color-bg: #f3f0e8;
  --color-bg-secondary: #ffffff;
  --color-bg-accent: rgb(40 225 255 / 24%);
  --color-bg-hover: rgb(255 255 255 / 72%);
  --color-bg-tag: rgb(52 68 255 / 10%);
  --color-bg-tag-hover: rgb(52 68 255 / 18%);
  --color-bg-container: rgb(255 255 255 / 52%);

  /* Text and Border Colors */
  --color-text: #090909;
  --color-text-alt: #fff;
  --color-text-gray: rgb(9 9 9 / 70%);
  --color-border: rgb(16 16 16 / 20%);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-heading: var(--font-family-base);
  --font-family-mono: "Share Tech Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

  /* Sizes */
  --site-width: 850px;
  --header-height: 66px;
  --header-height-lg: 76px;

  /* Z-index */
  --z-header: 10;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
  --shadow: none;

  // Dark mode colors
  // --color-secondary-dark: rgb(22, 78, 99);
  --color-link-dark: #D6D600;
  --color-link-dark: rgb(8, 145, 178);

  --color-bg-dark: #000;
  --color-bg-wrapper-bg-dark: rgb(24 24 27);
  --color-bg-secondary-dark: rgb(42 42 43);
  --color-bg-accent-dark: rgb(8, 51, 68);

  --color-title-dark: rgb(244 244 245);
  --color-text-dark: rgb(161 161 170);

  --color-border-dark: rgb(16 16 16 / 88%);

}
