<!doctype html>
<html
  {% if global.enable_theme_switch %}data-enable-theme-switch="{{ global.enable_theme_switch }}"{% endif %}
  {% if global.enable_theme_switch %}data-use-system-theme="{{ global.use_system_theme }}"{% endif %}
  {% if global.default_theme %}data-default-theme="{{ global.default_theme }}"{% endif %}
  {% if section %}data-current="{{ section }}"{% endif %}
  data-path-prefix="{{ sitePathPrefix or '/' }}"
  lang="en"
>

	{% include "partials/head.njk" %}

  <body class="body--site-theme{% if bodyClass %} {{ bodyClass }}{% endif %}">
	<div class="wrapper-bg-wrapper">
      <div class="wrapper-bg"></div>
    </div>

		{% if not hideSiteHeader %}{% include "partials/site-header.njk" %}{% endif %}
		{% if not hideSiteDrawer %}{% include "partials/drawer.njk" %}{% endif %}
		<main class="main--site-theme{% if mainClass %} {{ mainClass }}{% endif %}">
			{{ layoutContent | safe }}
		</main>

		{% if not hideSiteFooter %}{% include "partials/footer.njk" %}{% endif %}
	</body>

</html>
