---
layout: base.njk
section: home
---
<div class="home-page">
	{# <div class="home-page__bg-square"></div> #}

  {# Hero #}
  <img class="overlay" src="/assets/img/Hero_animation.gif">
  <div class="hero">
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
    <div class="hero__col">
      {# <h1 class="hero__title gradient-text">{{ home.title }}</h1> #}
      <h1 class="hero__title">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
  <div class="uhack">
  <p>
    <b>unitaryHACK</b> is a virtual event encouraging people to make contributions to the open source quantum ecosystem.
    The event will run May 28-June 11, 2025, and hackers have the opportunity to win cash bounties!
    For more information, read our <a href="https://unitaryhack.dev/hacker-guide/">hacker guide</a> and check out what happened in <a href="https://unitary.foundation/posts/2024_q2/">unitaryHACK 2024</a>.
    In the meantime, come hang out on <a href="https://discord.com/invite/JqVGmpkP96">Discord!</a>
  </p>
  <br>
  <p>Make sure you register to be eligible to claim your bounties!</p>
  <a href="/register" class="button-reg">Register here</a>
  </div>
  <br/>

  {# Supporters #}
  <div class="uhack">
    <div class="list-header">
      <h2 class="list-header__title">Supporters</h2>
    </div>
    <p>Thanks so much to all the unitaryHACK supporters! 🙏</p>
    <ul style="list-style-type: square">
      <li>
        <a href="https://www.nvidia.com/en-us/">NVIDIA</a>
      </li>
      <li>
        <a href="https://unitary.foundation/">Unitary Foundation</a> and its members
        (<b>Core Members</b>:
        <a href="https://www.ibm.com/quantum">IBM Quantum</a>,
        <a href="https://dorahacks.io/">DoraHacks</a>, and
        <a href="https://openquantumdesign.org/">OQD</a>;
        <b>Supporting Members</b>:
        <a href="https://aws.amazon.com/braket/">AWS</a>,
        <a href="https://www.microsoft.com/">Microsoft</a>,
        <a href="https://www.pasqal.com/">Pasqal</a>,
        <a href="https://www.qcware.com/">QC Ware</a>,
        <a href="https://www.sandboxaq.com/">SandboxAQ</a>)
      </li>
    </ul>
  </div>
  <br/>
</div>
