<section class="drawer" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <a class="drawer__brand" href="{{ '/' | url }}" aria-label="unitaryHACK home">
        <span class="drawer__brand-letter">H</span>
        <span class="drawer__brand-glyph">&lt;\&gt;</span>
        <span class="drawer__brand-letter">K</span>
      </a>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
        {{ global.close_icon | svg | safe }}
      </button>
    </div>
    <div class="drawer__content">
      <ul class="drawer__nav">
      {%- for item in home.primary_nav_items %}
        {% set itemUrl = item.url | url %}
        <li class="drawer__nav-item">
          <a
            href="{{ itemUrl }}"
            {% if itemUrl == page.url %} aria-current="page"{% endif %}
          >
            {{ item.label }}
          </a>
        </li>
      {%- endfor %}
        <li class="drawer__nav-item drawer__nav-item--guides">
          <details class="drawer__nav-group"{% if page.url in home.guide_nav_urls %} open{% endif %}>
            <summary class="drawer__nav-group-summary">{{ home.guide_menu_label }}</summary>
            <ul class="drawer__subnav">
              {%- for item in home.guide_nav_items %}
                {% set itemUrl = item.url | url %}
                <li class="drawer__subnav-item">
                  <a
                    class="drawer__subnav-link"
                    href="{{ itemUrl }}"
                    {% if itemUrl == page.url %} aria-current="page"{% endif %}
                  >
                    {{ item.label }}
                  </a>
                </li>
              {%- endfor %}
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>
