{# Site banner #}
{# <span class="announcement">
  <p id="countdown" class="countdown"></p>
  <p class="countdown">unitaryHACK 2025 has come to a close.</p>
</span> #}
<header class="site-header">
  <div class="site-header__container">
    <a class="site-header__logo" href="{{ '/' | url }}" aria-label="unitaryHACK home">
      <span class="site-header__logo-letter">H</span>
      <span class="site-header__logo-glyph">&lt;\&gt;</span>
      <span class="site-header__logo-letter">K</span>
    </a>
    <button
      class="site-header__mobile-nav"
      data-drawer-trigger=""
      aria-controls="drawer-name"
      aria-expanded="false"
    >
      <span class="site-header__mobile-nav-label">Menu</span>
      {{ global.menu_icon | svg | safe }}
    </button>
    <nav class="site-header__nav" aria-label="Primary">
      <ul class="site-header__items">
        {%- for item in home.nav_items %}
          {% set itemUrl = item.url | url %}
          <li class="site-header__item">
            <a
              class="site-header__link"
              href="{{ itemUrl }}"
              {% if itemUrl == page.url %} aria-current="page"{% endif %}
            >
              {{ item.label }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>
